<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
    <module name="JavadocPackage" />
    <module name="NewlineAtEndOfFile" />
    <module name="FileLength" />
    <module name="FileTabCharacter" />
    <module name="StrictDuplicateCode" />

    <module name="TreeWalker">
        <!-- Annotation Related Checks -->
        <module name="AnnotationUseStyle">
            <property name="trailingArrayComma" value="always" />
        </module>
        <module name="MissingDeprecated" />
        <module name="PackageAnnotation" />

        <!-- Block Checks -->
        <module name="EmptyBlock">
            <property name="option" value="text" />
        </module>
        <module name="LeftCurly">
            <property name="maxLineLength" value="120" />
        </module>
        <module name="RightCurly" />
        <module name="NeedBraces" />
        <module name="AvoidNestedBlocks" />

        <!-- Class Design Checks -->
        <module name="VisibilityModifier" />
        <module name="FinalClass" />
        <module name="InterfaceIsType" />
        <module name="HideUtilityClassConstructor" />
        <module name="DesignForExtension" />
        <module name="MutableException" />
        <module name="ThrowsCount" />
        <module name="InnerTypeLast" />

        <!-- Coding Checks -->
        <module name="ArrayTrailingComma" />
        <module name="CovariantEquals" />
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode" />
        <module name="FinalLocalVariable" />
        <module name="HiddenField" />
        <module name="InnerAssignment" />
        <module name="MagicNumber" />
        <module name="MissingSwitchDefault" />
        <module name="DefaultComesLast" />
        <module name="RedundantThrows" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="NestedForDepth" />
        <module name="NestedIfDepth">
            <property name="max" value="3" />
        </module>
        <module name="NestedTryDepth" />
        <module name="NoClone" />
        <module name="NoFinalizer" />
        <module name="PackageDeclaration" />
        <module name="ReturnCount" />
        <module name="IllegalType" />
        <module name="DeclarationOrder" />
        <module name="ParameterAssignment" />
        <module name="ExplicitInitialization" />
        <module name="MissingCtor" />
        <module name="FallThrough" />
        <module name="MultipleStringLiterals" />
        <module name="MultipleVariableDeclarations" />
        <module name="OneStatementPerLine" />

        <!-- Imports -->
        <module name="AvoidStarImport" />
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />
        <module name="ImportOrder" />

        <!-- JavaDoc Checks -->
        <module name="JavadocType" />
        <module name="JavadocMethod" />
        <module name="JavadocVariable" />
        <module name="JavadocStyle" />

        <!-- Metrics -->
        <module name="BooleanExpressionComplexity" />
        <module name="ClassDataAbstractionCoupling" />
        <module name="ClassFanOutComplexity" />
        <module name="CyclomaticComplexity" />
        <module name="NPathComplexity" />
        <module name="JavaNCSS" />

        <!-- Misc Checks -->
        
        <module name="TodoComment" />
        <module name="UpperEll" />
        <module name="FinalParameters" />
        <module name="Indentation" />

        <!-- Modifiers -->
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />

        <!-- Naming Conventions -->
        <module name="AbstractClassName" />
            <!-- Non-catch variables -->
            <module name="LocalVariableName">
            <property name="tokens" value="VARIABLE_DEF" />
        </module>
            <!-- Catch expresson variables -->
            <module name="LocalVariableName">
            <property name="tokens" value="PARAMETER_DEF" />
            <property name="format" value="^e[a-zA-Z0-9]" />
        </module>
        <module name="MethodName" />
        <module name="AbstractClassName" />
        <module name="ConstantName" />
        <module name="MemberName" />

        <!-- Size Checks -->
        <module name="ExecutableStatementCount" />
        <module name="LineLength">
            <property name="max" value="120" />
        </module>
        <module name="MethodLength" />
        <module name="AnonInnerLength" />
        <module name="ParameterNumber" />
        <module name="MethodCount" />

        <!-- Whitespace Checks -->
        
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />
        <module name="TypecastParenPad" />
        <module name="ParenPad" />
        <module name="NoWhitespaceBefore" />
        <module name="NoWhitespaceAfter" />

    </module>
</module>
